<kkl-steps-accordion-layout
  [panels]="cases"
  [steps]="steps"
  [isLinear]="true"
  [templates]="{costumerDetails, propertiesBudget, reservationDetails}"
  buttonLabel="המשך"
  [selectedIndex]="selectedIndex"
  (stepChanged)="onStepSelect($event)"
>
  <ng-template #costumerDetails>
    <app-costumer-details></app-costumer-details>
  </ng-template>

  <ng-template #propertiesBudget><app-properties></app-properties></ng-template>

  <ng-template #reservationDetails
    ><app-reservation-details></app-reservation-details
  ></ng-template>
</kkl-steps-accordion-layout>
