<!-- <kkl-accordion-steps-layout
  [complete$]="complete$"
  [panels]="panels"
  [steps]="steps"
  [templates]="{costumerDetails, propertiesBudget, reservationDetails}"
>

</kkl-accordion-steps-layout>

<ng-template #costumerDetails>
  <app-costumer-details></app-costumer-details>
</ng-template>

<ng-template #propertiesBudget><app-properties></app-properties></ng-template>

<ng-template #reservationDetails
  ><app-reservation-details></app-reservation-details
></ng-template>

 --><kkl-page [title]="title">
  <ng-container *ngIf="!(complete$ | async) as complete" ;>
    <ng-container
      *ngTemplateOutlet="stepper; context: { $implicit: complete }"
    ></ng-container>
  </ng-container>

  <ng-container *ngIf="complete$ | async as complete" ;>
    <ng-container
      *ngTemplateOutlet="accordion; context: { $implicit: complete }"
    ></ng-container>
  </ng-container>

  <ng-template #stepper>
    <kkl-circle-group
      [steps]="steps"
      [selectedIndex]="(selectedIndex$ | async)!"
      [templates]="{
      costumerDetails, propertiesBudget, reservationDetails
    }"
    ></kkl-circle-group>
  </ng-template>

  <ng-template #accordion let-complete>
    <kkl-accordion-layout
      [panels]="cases"
      [buttonLabel]="'הוסף תיק חדש'"
      [templates]="{  costumerDetails, propertiesBudget, reservationDetails}"
    ></kkl-accordion-layout>
  </ng-template>
</kkl-page>

<!-- templates for layouts -->

<ng-template #costumerDetails>
  <app-costumer-details ></app-costumer-details>

</ng-template>

<!-- templates for layouts -->
<ng-template #propertiesBudget>
  <app-properties></app-properties>

</ng-template>

<ng-template #reservationDetails>
  <app-reservation-details></app-reservation-details>

</ng-template>
<ng-template #costumerDetails>
  <app-costumer-details ></app-costumer-details>

</ng-template>

<!-- templates for layouts -->
<ng-template #propertiesBudget>
  <app-properties></app-properties>

</ng-template>

<ng-template #reservationDetails>
  <app-reservation-details></app-reservation-details>

</ng-template>