<kkl-steps-layout
  dir="rtl"
  [actions]="[]"
  [steps]="[]"
  (openChanged)="onDrawerOpenChanged($event)"
>
  <div content dir="rtl">
    <mat-accordion>
      <kkl-expand-panel variant="form">
        <kkl-typography title>working</kkl-typography>
      </kkl-expand-panel>
    </mat-accordion>

    <kkl-accordion-layout
      [panels]="cases"
      [buttonLabel]="'הוסף תיק חדש'"
      [templates]="{caseTemplate}"
    ></kkl-accordion-layout>
  </div>
</kkl-steps-layout>

<ng-template #caseTemplate>
  <div>working</div>
</ng-template>
