.container {
    margin-top: 50px;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: darkgray;
  }
  /* Font color */
  ::ng-deep input.mat-input-element {
    color: darkgray;
  }