<div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="2rem" class="marketers-tour-list">
  <div fxLayout="row" fxLayoutAlign="center">
      <div fxLayout.sm="column" fxLayout.lt-sm="column" fxLayout="row" fxFlex.lt-sm="100" fxFlex="80" fxLayoutAlign="space-between center" fxLayoutAlign.lt-sm="center center">
          <kkl-form fxFlex.lt-sm="100" fxFlex="20" dir="rtl" [controls]="select" [options]="selectOptions" (queryChanged)="onQueryChanged($event)" (selectChanged)="onSelectChanged($event)" (openChanged)="onOpenChanged($event)"></kkl-form>
          <kkl-form fxFlex.lt-sm="100" dir="rtl" fxFlex="40" [controls]="autoComplete" (queryChanged)="onQueryChanged($event)" (selectChanged)="onSelectChanged($event)" (openChanged)="onOpenChanged($event)"></kkl-form>

          <button mat-raised-button color="primary">
      <kkl-typography color="paper"> טיול חדש</kkl-typography>
    </button>
      </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="center">
      <div fxFlex="80">
          <kkl-ngx-local-table [dataSource]="dataSource" [columns]="columns" [rowActions]="rowActions" [expandTemplate]="expand" (expandRow)="onExpand($event)" [colsTemplate]="{ status: statusTemp }"></kkl-ngx-local-table>
      </div>
  </div>
</div>

<ng-template #expand>
  <kkl-tabs fxFlex="100" [direction]="'horizontal'" [tabs]="data" [templates]="{Providers,Charged,LastTransactions}"></kkl-tabs>
</ng-template>
<ng-template #statusTemp let-data>
  <kkl-status-progress [status]="data"></kkl-status-progress>
</ng-template>
<ng-template #Providers>
  <app-marketers-providers></app-marketers-providers>
</ng-template>
<ng-template #Charged>
  <app-marketers-charged></app-marketers-charged>
</ng-template>
<ng-template #LastTransactions>
  <app-marketers-last-transactions></app-marketers-last-transactions>
</ng-template>