.marketers-tour-list {
    margin-top: 1.5rem;
     ::ng-deep .mat-tab-body-wrapper,
    kkl-tabs {
        width: 100% !important;
    }
     ::ng-deep kkl-form {
        width: 80%;
        mat-form-field.mat-form-field {
            font-size: 14px !important;
        }
        mat-form-field.kkl-form-select {
            width: 100% !important;
        }
        form {
            place-content: center center !important;
        }
    }
}