<div [fxLayout]="direction" class="steps-container" fxLayoutAlign="center center">
  <ng-container *ngFor="let step of steps; let i = index">
    <div appSize [size]="step.size" [type]="step.type" appButton>

      <app-step *ngIf="!stepRef" [step]="step" (onStepChange)="onStepChange(step)"></app-step>

      <ng-container *ngTemplateOutlet="stepRef; context: {step}">

      </ng-container>


    </div>
    <div *ngIf="step.divider" appSize [size]="step.size" [divider]="step.divider" class="divider-container"
      fxLayout="column" fxLayoutAlign="center center">
      <div *ngIf="step.divider" class="divider"></div>
    </div>
  </ng-container>
</div>
