<div class="navbar" xLayout="row" fxLayoutAlign="start center">
  <!-- toggle menu button -->
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="5"
    [ngClass]="{
      menu: true,
      closed: isOpen
    }"
    (click)="toggleMenu()"
  >
    <div class="icon-container">
      <app-icon type="svg" key="tree" color="primary" [size]="40"></app-icon>
    </div>
    <div>
      {{ isOpen ? " תפריט" : " סגור תפריט" }}
    </div>
  </div>

  <div class="text-container" fxFlex="22">
    <app-typography variant="mat-display-1">
      {{ title }}
    </app-typography>
  </div>

  <!-- main navbar links -->
  <div *ngIf="showSteps" fxFlex="50">
    <div class="status-container" fxLayoutAlign="space-evenly">
      <div class="project-status__item" *ngFor="let item of status">
        <app-status-card [item]="item"></app-status-card>
      </div>
    </div>
  </div>


  <!-- left side logo -->

  <div xLayout="row" fxLayoutAlign="end center" class="logo-container" fxFlex="23">
    <div>
      <app-icon key="logo-year"></app-icon>
    </div>
    <div>
      <app-icon key="logo"></app-icon>
    </div>
  </div>

  <!-- <a routerLink="/" class="left-logos">
    <svg-icon class="left-logo-years" src="assets/images/left-logo-years-new.svg">
    </svg-icon>
    <svg-icon src="assets/images/left-logo.svg"></svg-icon>
  </a> -->
</div>
