<div class="navbar" fxLayout="row" fxLayoutAlign="space-between center">
  <!-- toggle menu button -->
  <div fxFlex="5" class="sidebar-toggle" [ngClass]="{
      closed: isOpen,
      'education-fill education-border': prefix === 'education',
      'forestry-fill forestry-border': prefix === 'forestry'
    }" (click)="toggleMenu()">
    <span class="sidebar-toggle__icon">
      <!-- <svg-icon id="tree-light" [ngClass]="{
          closed: isOpen,
          'education-fill': prefix === 'education',
          'forestry-fill': prefix === 'forestry'
        }" src="assets/images/{{ isOpen ? 'tree-light' : 'tree-gradient' }}.svg">
      </svg-icon> -->
      <app-icon type="svg" key="tree"></app-icon>
    </span>

    <span class="sidebar-toggle__text">{{
      isOpen ? " תפריט" : " סגור תפריט"
      }}</span>
  </div>

  <div fxFlex="10">
    <app-typography variant="mat-display-1">
      קק"ל חינוך - הזמנות טיולים
    </app-typography>
    <!-- <p class="worker-position">קק"ל חינוך - הזמנות טיולים</p> -->
  </div>

  <!-- main navbar links -->
  <div *ngIf="showSteps" fxFlex="50">
    <div class="status-container">
      <div class="project-status__item" *ngFor="let item of status">
        <app-status-card [item]="item"></app-status-card>
      </div>
    </div>
  </div>

  <div class="results-header" *ngIf="!showSteps" fxFlex="15">
    <a class="results-header__link" routerLink="forestry/search"><span class="results-header__text">חזור לחיפוש</span>
      <mat-icon class="results-header__icon" matPrefix>search</mat-icon>
    </a>
  </div>

  <!-- left side logo -->
  <a routerLink="/" class="left-logos" fxFlex="15">
    <!-- <svg-icon class="left-logo-years" src="assets/images/left-logo-years-new.svg">
    </svg-icon>
    <svg-icon src="assets/images/left-logo.svg"></svg-icon> -->
  </a>
</div>
