@use "../../../styles/styles.scss";

* {
  direction: rtl;
}

.navbar {
  height: 10vh;
  backdrop-filter: blur(15px) saturate(70%) contrast(70%) brightness(130%);
  background-color: #ffffff;
  // border-bottom: 3px solid #fbfbfb;
  box-sizing: border-box;
}

// toggle button styles
.sidebar-toggle {
  // padding: 0 15px;
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  color: color(primary);
  height: 100%;

  &__icon {
    margin-top: auto;
    height: 40px;
    margin-bottom: 3px;
  }


  &__text {
    margin-bottom: auto;
    font-size: 0.8rem;
    line-height: 10px;
    text-align: center;
  }
}

.worker-position {
  font-size: 28px;
  align-self: center;
  margin-left: auto;
  margin-bottom: -5px;
  font-weight: 600;
}

// main area item

.status-container {
  display: flex;
  width: 100%;
}

.project-status {
  display: flex;
  z-index: 10111;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  width: fit-content;

  &__item {
    transform: translateY(30%);
  }

  #svg-fill {
    margin: auto;
    width: 37.5px;
    height: 37.5px;
  }

  #svg-fill * {
    transform: scale(2.5);
    fill: #747474 !important;
    width: 37.5px;
    height: 37.5px;
  }

  &__item-badge {
    position: absolute;
    top: 15px;
    right: 199px;
  }

  &__item-text {
    font-weight: bold;
    align-self: flex-start;
    margin-right: 15px;
    margin-top: 40px;
  }
}

.results-header {
  margin-left: 50px;
  margin-right: auto;

  &__link {
    display: flex;
    text-decoration: none;
    color: #a2a2a2;
    align-self: center;
    font-weight: 200;
  }

  &__text {
    margin: auto 0;
    justify-self: center;
    font-size: 20px;
  }

  &__icon {
    padding-right: 10px;
    color: color(primary);
    align-self: center;
    padding-top: 2px;
    font-weight: bold;
  }
}

//left logos area

.left-logos {
  margin-left: 23px;
  min-width: fit-content;
  flex: 0 0 auto;
  align-self: center;
  z-index: 101;
  height: 90%;
}

.left-logos * {
  margin-top: 7px;
  display: inline;
  height: 80%;
}

.left-logo-years {
  padding-left: 20px;
}

.badge-education {
  & .mat-badge-content {
    background-color: color(primary) !important;
    color: #ffffff;
  }
}

.badge-forestry {
  & .mat-badge-content {
    background-color: color(primary) !important;
    color: #ffffff;
  }
}

.education-fill {
  color: #009eee;

  & * {
    fill: #009eee !important;
  }
}

.education-border {
  border-bottom: #009eee solid 3px;
}

// .forestry-fill {
//   color: #00c466;

//   & * {
//     fill: #00c466 !important;
//   }
// }

// .forestry-border {
//   border-bottom: color(primary) solid 3px;
// }

// ::ng-deep .list__item-svg .a {
//   fill: #00c466 !important;
// }

.text-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
