<div class="navbar mat-elevation-z2" xLayout="row" fxLayoutAlign="start center">
  <!-- toggle menu button -->
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="5" c class="menuButton" (click)="toggleMenu()">
    <div class="icon-container">
      <app-icon type="svg" [key]="isOpen ? 'tree-gradient' : 'tree'" color="primary" [size]="40"></app-icon>
    </div>
    <div>
      <app-typography [size]="10">
        {{ isOpen ? " תפריט" : " סגור תפריט" }}
      </app-typography>
    </div>
  </div>

  <div class="text-container" fxFlex="22">
    <app-typography [size]="24" *ngIf="!showStatus">
      {{ title }}
    </app-typography>
  </div>

  <!-- main navbar links -->
  <div *ngIf="showStatus" fxFlex="50">
    <div class="status-container" fxLayoutAlign="space-evenly">
      <div class="project-status__item" *ngFor="let item of status">
        <app-status-card [item]="item"></app-status-card>
      </div>
    </div>
  </div>


  <div fxFlex></div>

  <!-- left side logo -->
  <div xLayout="row" fxLayoutAlign="space-evenly center" class="logo-container" fxFlex="10">
    <div>
      <app-icon key="logo-year" [size]="80"></app-icon>
    </div>
    <div>
      <app-icon key="logo" [size]="60"></app-icon>
    </div>
  </div>
</div>
