.kkl-primary {
  color: $primary;
}
.kkl-accent {
  color: $accent;
}
.kkl-warn {
  color: $warn;
}
.kkl-paper {
  color: $paper;
}
.kkl-default {
  color: $default;
}
.kkl-disable {
  color: $disable;
}
.kkl-disableButton {
  color: $disableButton;
}
.kkl-disableText {
  color: $disableText;
}
.kkl-table {
  color: $table;
}
.kkl-text {
  color: $text;
}
.kkl-success {
  color: $success;
}
.kkl-graylight {
  color: $graylight;
}
.kkl-tableActionsGray {
  color: $tableActionsGray;
}
.kkl-darkGray {
  color: $darkGray;
}
