.kkl-primary {
  color: var(--p-500);
}
.kkl-accent {
  color: var(--a-500);
}
.kkl-warn {
  color: #d83020;
}
.kkl-paper {
  color: white;
}
.kkl-default {
  color: $default;
}
.kkl-disable {
  color: $disable;
}
.kkl-disableButton {
  color: $disableButton;
}
.kkl-disableText {
  color: $disableText;
}
.kkl-table {
  color: $table;
}
.kkl-text {
  color: $text;
}
.kkl-success {
  color: $success;
}
.kkl-graylight {
  color: $graylight;
}
.kkl-tableActionsGray {
  color: $tableActionsGray;
}
.kkl-darkGray {
  color: $darkGray;
}
