@use "@angular/material" as mat;


$plt-primary: (
  50: #e1f4f6,
  100: #b3e5e9,
  200: #80d3da,
  300: #4dc1cb,
  400: #27b4bf,
  500: #01a7b4,
  600: #019fad,
  700: #0196a4,
  800: #018c9c,
  900: #007c8c,
  A100: #b8f5ff,
  A200: #85eeff,
  A400: #52e7ff,
  A700: #39e3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$plt-accent: (
  50: #e7f8ed,
  100: #c3eed3,
  200: #9be2b5,
  300: #73d697,
  400: #55ce81,
  500: #37c56b,
  600: #31bf63,
  700: #2ab858,
  800: #23b04e,
  900: #16a33c,
  A100: #d7ffe0,
  A200: #a4ffb9,
  A400: #71ff92,
  A700: #58ff7f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);


$plt-primary: mat.define-palette($plt-primary, 500);
$plt-accent: mat.define-palette($plt-accent, 500);
$warn: mat.define-palette(mat.$red-palette);

$tac-theme: mat.define-light-theme(
  (
    color: (
      primary: $plt-primary,
      accent: $plt-accent,
      warn: $warn,
    ),
  )
);


$plt-background: map-get($tac-theme, background);
$plt-foreground: map-get($tac-theme, foreground);

$p-keys: 50, 100, 200, 300, 400, 500, 600, 700, 800, 900;
$a-keys: (100: A100, 200: A200, 400: A400, 700: A700, 500 : 500);


@mixin tac-theme {
  @include mat.core();
  @include mat.all-component-themes($tac-theme);

  :root {
    @each $key in $p-keys {
      --p-#{$key}: #{map-get($plt-primary, $key)};
    }


    @each $key, $value in $a-keys {
      --a-#{$key}: #{map-get($plt-accent, $value)};
    }


    @each $key, $value in $plt-background {
      --b-#{$key}: #{$value};
    }


    @each $key, $value in $plt-foreground {
      --f-#{$key}: #{$value};
    }


  }
}
