<div fxFill dir="rtl">
  <kkl-table
    [data$]="data$"
    [itemKey]="itemKey"
    [columns$]="columns$"
    [cellTemplate]="{isActive, actions}"
    [formTemplate]="{input}"
    [hasActions]="true"
  ></kkl-table>
</div>

<ng-template #isActive let-item>
  <kkl-typography>
    {{ item.isActive ? "pass" : "failed" }}
  </kkl-typography>
</ng-template>

<ng-template #input let-rowState let-tableState="tableState">
  <kkl-table-cell-form
    fxFlex="90"
    [group]="rowState.group"
    [columnDef]="rowState.column.columnDef"
  ></kkl-table-cell-form>
</ng-template>


<!-- use kkl-table-action for default actions -edit, delete and save -->
<ng-template #actions let-rowState let-tableState="tableState">
  <kkl-table-actions
    [hasEdit]="true"
    [hasDelete]="true"
    [rowState]="rowState"
    [dataSource]="tableDataSource"
    (edit)="onEditEvent($event)"
    (close)="onCloseEvent($event)"
    (save)="onSaveEvent($event)"
  ></kkl-table-actions>
</ng-template>
