<div fxFill dir="rtl">
  <div dir="ltr" fxLayout="row" fxLayoutGap="3rem">
    <code *ngIf="tableState$ | async as tableState">
      <div>tableState :</div>
      <pre>
       {{ tableState.pagination | json }}
       {{ tableState.editing | json }}
       {{ tableState.action | json }}
      </pre>
    </code>
    <mat-divider [vertical]="true"></mat-divider>
    <code *ngIf="fetchState$ | async as fetchState">
      <div>fetchState :</div>
      <pre>
        {{ fetchState | json }}
      </pre>
    </code>
  </div>

  <kkl-table
    kkl-table
    kklPagination
    kklUrlPagination
    [data$]="data$"
    [columns$]="columns$"
    [itemKey]="itemKey"
    [hasActions]="true"
  >
    <!-- use kklHeaderCell for render header cell -->
    <ng-container *kklHeaderCell="let context">
      <kkl-header-cell
        [itemKey]="context.key"
        [column]="context.column"
        [columnDef]="context.column.columnDef"
        [headerTemplate]="{actions}"
        (fetchOptions)="onFetchOptions($event)"
        (queryOptions)="onQueryOptions($event)"
      ></kkl-header-cell>
    </ng-container>

    <!-- use kklDataCell for render table cell -->
    <ng-container *kklDataCell="let context">
      <!-- use kkl-data-cell for comrax table cell -->
      <kkl-data-cell
        fxLayout="row"
        fxLayoutAlign="start center"
        [item]="context.item"
        [key]="context.key"
        [column]="context.column"
        [tableState]="context.tableState"
        [action]="context.tableState.action"
        [cellTemplate]="{email}"
      ></kkl-data-cell>
    </ng-container>

    <!-- use kkl-actions-cell for default actions -edit, delete and save -->
    <ng-container *kklActionCell="let rowState">
      <kkl-actions-cell
        [hasEdit]="true"
        [hasDelete]="true"
        [rowState]="rowState"
        (edit)="onEditEvent($event)"
        (cancel)="onCancelEvent($event)"
        (submit)="onSubmitEvent($event)"
      ></kkl-actions-cell>
    </ng-container>
  </kkl-table>
</div>

<ng-template #email let-rowState>
  <kkl-typography color="primary" underline="true">
    {{ rowState.item.email | slice: -20 }}
  </kkl-typography>
</ng-template>

<ng-template #actions let-rowState>
  <div>
    <kkl-create-button (clickEvent)="onCreateEvent(rowState)">
      הוסף מכונית
    </kkl-create-button>
  </div>
</ng-template>

