<div fxLayout="row" fxLayoutAlign="center center" dir="rtl">
  <div fxLayout="column" fxFlex="50">
    <ng-container *ngIf="optionsMap$ | async as optionsMap">
      <kkl-form-search [searchGroup]="searchGroup" [advanced]="true">
        <ng-container *kklFormSearchContent="let context">
          <kkl-form
            [questions]="context.questions"
            [formGroup]="context.formGroup"
            [grid]="grid"
            [optionsMap]="optionsMap"
            (formChanged)="onFormChanged($event)"
          ></kkl-form>
        </ng-container>
      </kkl-form-search>

      <div>
        <!-- <ng-container *ngIf="filtersState$ | async as filtersState"> -->

        <kkl-filters
          [formGroup]="searchGroup.formGroup"
          (filterChanged)="onFilterChanged($event)"
        ></kkl-filters>
        <!-- </ng-container> -->
      </div>
    </ng-container>

    <ng-container>
      <pre *ngIf="searchGroup">
        formGroup
      {{ searchGroup.formGroup.value | json }}
    </pre
      >
    </ng-container>
  </div>
</div>
