<div fxLayout="row" dir="rtl">
  <div fxLayout="column" fxFlex="90">
    <ng-container *ngIf="optionsMap$ | async as optionsMap">
      <div fxLayout="row" fxLayoutAlign="center center">
        <kkl-advanced-search-layout
          [expended]="true"
          fxFlex="60"
          [questions]="questions"
        ></kkl-advanced-search-layout>
      </div>

      <!-- <kkl-form-search [searchGroup]="searchGroup" [advanced]="true">
      </kkl-form-search> -->

      <div>
        <!-- <ng-container *ngIf="filtersState$ | async as filtersState"> -->

        <!-- <kkl-filters
          [formGroup]="searchGroup.formGroup"
          (filterChanged)="onFilterChanged($event)"
        ></kkl-filters> -->
        <!-- </ng-container> -->
      </div>
    </ng-container>
  </div>
</div>
