<div fxLayout="row" fxLayoutAlign="center center" dir="rtl">
  <div fxLayout="column" fxFlex="50">
    <ng-container *ngIf="optionsMap$ | async as optionsMap">
      <kkl-form-search
        [searchControl]="searchGroup.formGroup.controls['search']"
        [advanced]="true"
      >
        <ng-container *kklFormSearchContent>
          <kkl-form
            variant="flex"
            [questions]="searchGroup.questions"
            [formGroup]="searchGroup.formGroup"
            [grid]="grid"
            [optionsMap]="optionsMap"
          ></kkl-form>
        </ng-container>
      </kkl-form-search>

      <div>
        <ng-container *ngIf="filtersState$ | async as filtersState">
          <kkl-filters
            [formGroup]="searchGroup.formGroup"
            [filtersState]="filtersState"
            (filterChanged)="onFilterChanged($event)"
          ></kkl-filters>
        </ng-container>
      </div>
    </ng-container>

    <ng-container>
      <pre *ngIf="searchGroup">
      {{ searchGroup.formGroup.value | json }}
    </pre
      >
    </ng-container>
  </div>
</div>
