@use "../../../kakal-ui/src/styles/variables" as main;

:host {
  margin: 16px;
}
::ng-deep div.status-bar.active{
color: blue;
background-color: blue !important;
}

.kkl-expand-panel {
  margin-bottom: 10px;
}
