<div fxLayout="column" #container >
  <kkl-navbar fxFlex='100' openIcon="tree" [logos]="logos"></kkl-navbar>
<!-- <div fxLayout="column">
  <kkl-navbar fxFlex="100" [logos]="logos"></kkl-navbar>
  <div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="start center">
    <kkl-form-input label="Enter title" [control]="control"></kkl-form-input>

  </div>
</div>

<ng-template #testTemplate>
  <p>test test test test test test test test test test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
  <p>test test test test test test test test test</p>
</ng-template>
<kkl-button label="test" icon="tree" direction="rtl"></kkl-button> -->
</div> -->

<div fxLayout="row" fxLayoutAlign="center center">
  <app-table fxFlex="90"></app-table>
</div>
