@use "theme" as tac-theme;
@use "variables" as main;
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/opensanshebrew.css");
* {
  font-family: "open sans" !important;
  src: url("../assets/fonts/opanSansHebrew/OpenSansHebrew-Regular.ttf")
    format("opentype") !important;
}

@include tac-theme.tac-theme();

html,
body,
app-root {
  height: 100vh;
  box-sizing: border-box;
  text-align: right;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "open sans", "Helvetica Neue", sans-serif;
  src: url("../assets/fonts/opanSansHebrew/OpenSansHebrew-Regular.ttf")
    format("opentype") !important;
  box-sizing: border-box;
}

::ng-deep mat-grid-list,
mat-grid-tile {
  height: 100%;
  width: 100%;
}

mat-accordion,
mat-divider {
  width: 100%;
}

kkl-form,
kkl-stepper,
kkl-status,
kkl-title {
  width: 100%;
}

.material-icons {
  font-family: "Material Icons" !important;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  html {
    font-size: 8px;
  }
  mat-form-field {
    font-size: 9px !important;
  }

  .mat-raised-button,
  .mat-button {
    padding: 0 main.spacing(1) !important;
  }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  html {
    font-size: 10px;
  }
}

.kkl-outside-close {
  mat-dialog-container {
    padding: 0;
    overflow: unset;

    .close-button {
      float: left;
      top: -42px;
      left: -42px;
      background: none;
    }
  }
}
.kkl-dialog-table {
  mat-dialog-container {
    width: 100rem;
    padding: spacing(3);
  }
}

.snack-bar {
  background-color: white;
  color: black;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 7%), 0px 6px 10px 0px rgb(0 0 0 / 2%),
    0px 1px 18px 0px rgb(0 0 0 / 12%);
  margin: 15px !important;
  button {
    background: white;
    color: main.color(primary);
  }
}
