
<div fxLayoutAlign="center center" fxLayout="column">
    <h1 kkl-hover [template]="test">Test</h1>
    <h1 kkl-hover [template]="test">test</h1>
    <h1 kkl-hover [template]="test">test</h1>
    <h1 kkl-hover [template]="test">test</h1>
    <h1 kkl-hover [template]="test">test</h1>
    <h1 kkl-hover [template]="test">test</h1>
    <h1 kkl-hover [template]="test">test</h1>
    <h1 kkl-hover [template]="test">test</h1>

</div>

<ng-template #test>
    <kkl-facility-card></kkl-facility-card>
</ng-template>
