@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$colors: (
  info: #068297,
  text: #ffffff,
  input-error : #f44336,
  error: #721c24,
  warning: #f8d7da,
  forbidden: #f3727d,
  success: #1d8813,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
