@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$primary: #3f51b5;

$colors: (
  primary: $primary,
  paper: #fff,
  text: black,
  success: #1d8813,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

