<div class="navbar" xLayout="row" fxLayoutAlign="start center">
  <!-- toggle menu button -->
  <div fxFlex="5" [ngClass]="{
      closed: isOpen,
      'education-fill education-border': prefix === 'education',
      'forestry-fill forestry-border': prefix === 'forestry'
    }" (click)="toggleMenu()">
    <div class="sidebar-toggle__icon">
      <app-icon type="svg" key="tree"></app-icon>
    </div>

    <div class="sidebar-toggle__text">{{
      isOpen ? " תפריט" : " סגור תפריט"
      }}</div>

  </div>

  <div class="text-container" fxFlex="20">
    <app-typography variant="mat-display-1">
      {{title}}
    </app-typography>
  </div>

  <!-- main navbar links -->
  <div *ngIf="showSteps" fxFlex="50">
    <div class="status-container" fxLayoutAlign="space-evenly">
      <div class="project-status__item" *ngFor="let item of status">
        <app-status-card [item]="item"></app-status-card>
      </div>
    </div>
  </div>

  <div class="results-header" *ngIf="!showSteps" fxFlex="15">
    <a class="results-header__link" routerLink="forestry/search"><span class="results-header__text">חזור לחיפוש</span>
      <mat-icon class="results-header__icon" matPrefix>search</mat-icon>
    </a>
  </div>

  <!-- left side logo -->
  <a routerLink="/" class="left-logos" fxFlex="15">
    <!-- <svg-icon class="left-logo-years" src="assets/images/left-logo-years-new.svg">
    </svg-icon>
    <svg-icon src="assets/images/left-logo.svg"></svg-icon> -->
  </a>
</div>
