::ng-deep kkl-lobby-grid {
  div.kkl-lobby-grid {
    background-image: url("../../../assets/images/education-table-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
