<kkl-stepper-layout [actions]="actions" [steps]="steps">
  <ng-container content>
    <mat-accordion dir="rtl" multi="multi">
      <kkl-expand-panel variant="table">
        <kkl-typography title>תיק</kkl-typography>
      </kkl-expand-panel>
    </mat-accordion>
  </ng-container>

  <kkl-drawer-document
    [documents]="documents"
    [categories]="[{ label: 'coty', value: 'miki' }]"
    (addDocument)="onAddDocument()"
    title="מסמכי תיק"
    drawer
  >
  </kkl-drawer-document>

  <!-- the footer of the stepper layout -->
  <kkl-navbar-bottom
    bottom-navbar
    (previous)="onPrevious()"
    (next)="onNext($event)"
  ></kkl-navbar-bottom>
</kkl-stepper-layout>
