<kkl-stepper-layout
  (emitEndDrawerBtn)="onEndDrawerEmitted()"
  [portion$]="portion$"
  [hasTitle]="true"
  (changeStep)="onChangeStep($event)"
>
  <!-- the page-headline of the stepper layout -->
  <kkl-page-headline title [templates]="{statusBar}"></kkl-page-headline>

  <!-- the changing content of the stepper layout -->
  <div content>
    <router-outlet></router-outlet>
  </div>

  <!-- the footer of the stepper layout -->
  <kkl-navbar-bottom
    bottom-navbar
    [bottomIcon]="'bottom_tree_tac'"
    [hasNext]="true"
    (previous)="onPrevious()"
    (next)="onNext($event)"
    [stepper]="true"
  ></kkl-navbar-bottom>
</kkl-stepper-layout>

<!-- component inserted to the page-headline -->
<ng-template #statusBar let-item>
  <kkl-status-bars [status]="status"></kkl-status-bars>
</ng-template>
