<kkl-stepper-layout
  dir="rtl"
  [steps]="steps"
  [contentPortion]="{ open: 10, close: 50 }"
  (stepChanged)="onChangeStep($event)"
>
  <!-- the changing content of the stepper layout -->
  <div content>
    <router-outlet></router-outlet>
  </div>

  <!-- the footer of the stepper layout -->
  <kkl-navbar-bottom
    bottom-navbar
    [bottomIcon]="'bottom_tree_tac'"
    [hasNext]="true"
    (previous)="onPrevious()"
    (next)="onNext($event)"
    [stepper]="true"
  ></kkl-navbar-bottom>
</kkl-stepper-layout>
