<!-- <kkl-page title="פרטי וועידה" dir="rtl">
  <div fxLayout="column" fxLayoutGap="1rem">
    <div fxLayout="row">
      <kkl-form-temp
        fxFlex="60"
        [grid]="committeeGroup.gridProps!"
        [questions]="committeeGroup.questions"
        [formGroup]="committeeGroup.formGroup"
      ></kkl-form-temp>
    </div>
    <div fxLayout="row" fxLayoutGap="2rem" dir="rtl">
      <kkl-typography>שם המשקיף : {{ obsName }} </kkl-typography>
      <kkl-typography>בתאריך : {{ date | format: "date" }}</kkl-typography>
    </div>
  </div>
</kkl-page> -->

<kkl-local-table
  [dataSource]="dataSource"
  [columns]="columns"
  [rowActions]="rowActions"
  (actionClicked)="onClicked($event)"
  (editRow)="onEdit($event)"
  (deleteRow)="onDelete($event)"
></kkl-local-table>
