@import "../../../../styles/styles.scss";

:host {
  width: 100%;
}

mat-toolbar {
  padding-left: spacing(5);
  padding-right: spacing(5);
}

div {
  height: 100%;
}

button.prev {
  background-color: color(paper) !important;
}
