<div fxLayout="row" fxLayoutAlign="space-between center">
  <div class="item-icon" matBadgeOverlap matBadge="{{ item.badgeValue }}">
    <div class="icon-container">
      <app-icon [color]="'default'" type="svg" [key]="item.svgUrl"></app-icon>
    </div>
  </div>
  <div fxFlexAlign="center" fxLayoutGap="10px" class="item-text">
    <app-typography variant="body-1" color="text">
      {{ item.title }}
    </app-typography>
    <!-- <span class="project-status__item-text"></span> -->
  </div>
</div>
