<div class="container">
  <div fxLayout="row" fxLayoutAlign="start center">
    <!-- default button -->
    <span class="button-container" fxLayout="column" fxLayoutGap="2rem">
      <div fxLayout="column">
        <kkl-typography [weight]="600" [size]="2"
          >Default buttons</kkl-typography
        >
        <kkl-typography
          >this is a simple use case of action buttons with
          tooltip</kkl-typography
        >
      </div>

      <div fxLayout="row" fxLayoutGap="1rem" fxFlexOffset=".5rem">
        <kkl-typography appSize [size]="4.1" (click)="clicked()" kkl-button>
          <kkl-icon [size]="2" [key]="'clear'" [color]="'warn'"></kkl-icon>
        </kkl-typography>

        <button
          matTooltip="ספק לא זוכה"
          color="primary"
          mat-icon-button
          kkl-action-button
        >
          <kkl-icon [size]="2" [key]="'clear'" [color]="'warn'"></kkl-icon>
        </button>

        <button matTooltip="ספק זוכה" mat-icon-button kkl-action-button>
          <kkl-icon [size]="2" [key]="'nike'"></kkl-icon>
        </button>

        <button matTooltip="הדפס" mat-icon-button kkl-action-button>
          <kkl-icon [size]="2" [key]="'print'" [color]="'primary'"> </kkl-icon>
        </button>
      </div>
    </span>
  </div>

  <!-- fab button -->
  <span class="button-container" fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="column">
      <kkl-typography [weight]="600" [size]="2">Fab button</kkl-typography>
      <kkl-typography> this icon used in the bottom navbar</kkl-typography>
    </div>

    <button class="prev mat-elevation-z1" mat-icon-button>
      <kkl-icon key="chevron_right" [color]="'primary'"> </kkl-icon>
    </button>
  </span>

  <!-- underlined button -->
  <span class="button-container" fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="column">
      <kkl-typography [weight]="600" [size]="2"
        >Underlined button</kkl-typography
      >
      <kkl-typography
        >this Button is used in the chips of the table filters</kkl-typography
      >
    </div>
    <kkl-typography fxFlexAlign="start" mat-button kkl-underline kkl-button
      >underlined button</kkl-typography
    >
  </span>

  <!-- raised buttons -->
  <span class="button-container" fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="column">
      <kkl-typography [weight]="600" [size]="2">Raised buttons</kkl-typography>
      <kkl-typography>most used raised buttons</kkl-typography>
    </div>

    <div fxLayout="row" fxLayoutGap="2rem">
      <button
        mat-raised-button
        kkl-action-button
        color="default"
        [disabled]="true"
      >
        <kkl-typography>disabled default</kkl-typography>
      </button>

      <button mat-raised-button color="primary">
        <kkl-typography>raised primary</kkl-typography>
      </button>

      <button mat-raised-button color="accent">
        <kkl-typography>raised accent</kkl-typography>
      </button>
    </div>
  </span>

  <!-- stroked buttons -->
  <span class="button-container" fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="column">
      <kkl-typography [weight]="600" [size]="2">Stroked buttons</kkl-typography>
      <kkl-typography>most used stroked buttons</kkl-typography>
    </div>

    <div fxLayout="row" fxLayoutGap="2rem">
      <button kkl-border mat-stroked-button [disabled]="true" [thick]="2">
        disabled stroked
      </button>

      <button
        kkl-border
        color="primary"
        [thick]="2"
        mat-stroked-button
        color="primary"
      >
        primary stroked
      </button>

      <button mat-stroked-button color="accent">disabled stroked</button>

      <button
        [class.mat-elevation-z4]="true"
        mat-stroked-button
        kkl-stroked-button
        color="accent"
      >
        <kkl-typography [size]="1.75">שמור</kkl-typography>
      </button>
    </div>
  </span>

  <!-- buttons with Icon & Text -->
  <span class="button-container" fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="column">
      <kkl-typography [weight]="600" [size]="2"
        >Buttons with Icon & Text</kkl-typography
      >
      <kkl-typography>This is a very common use case of buttons</kkl-typography>
    </div>

    <div fxLayout="row" fxLayoutGap="2rem">
      <button
        class="container-button"
        kkl-action-button
        mat-raised-button
        color="accent"
      >
        <div fxLayout="row" fxLayoutGap="0.5rem">
          <kkl-icon [size]="3" [color]="'paper'" key="chevron_left"></kkl-icon>
          <kkl-typography [size]="1.75" [color]="'paper'">המשך</kkl-typography>
        </div>
      </button>

      <button
        class="container-button"
        kkl-action-button
        kkl-border
        [thick]="2"
        mat-stroked-button
        color="primary"
      >
        <div fxLayout="row" fxLayoutGap="1rem">
          <kkl-typography [size]="1.75" [color]="'text'"
            >הוספת נושא חדש</kkl-typography
          >
          <kkl-icon
            type="mat"
            [size]="3"
            [color]="'primary'"
            key="add"
          ></kkl-icon>
        </div>
      </button>

      <button
        class="container-button rounded"
        [class.mat-elevation-z4]="true"
        mat-stroked-button
        [color]="'disable'"
      >
        <div fxLayout="row" fxLayoutGap="0.5rem">
          <kkl-icon [color]="'accent'" key="keyboard_arrow_down"></kkl-icon>
          <kkl-typography [size]="1.5" [color]="'text'"
            >הזן תקבולים</kkl-typography
          >
        </div>
      </button>

      <button class="container-button rounded" mat-raised-button color="accent">
        <div fxLayout="row" fxLayoutGap="0.5rem">
          <kkl-icon [color]="'paper'" key="keyboard_arrow_up"></kkl-icon>
          <kkl-typography [size]="1.5" [color]="'paper'"
            >הוסף מונצחים</kkl-typography
          >
        </div>
      </button>

      <button
        class="container-button"
        kkl-action-button
        mat-stroked-button
        [color]="'disable'"
      >
        <div fxLayout="row" fxLayoutGap="0.5rem">
          <kkl-typography [size]="1.75" [color]="'text'"
            >בטל הוספה</kkl-typography
          >
          <kkl-icon [color]="'disable'" key="clear"></kkl-icon>
        </div>
      </button>
    </div>
  </span>
</div>
