<div dir="rtl" fxLayout="column" fxLayoutGap="3rem">
  <div fxLayout="row" fxLayoutAlign="center center">
    <!-- kkl-form-ADVANCED SEARCH -->
    <kkl-advanced-search-layout
      fxFlex="35"
      [advanced]="true"
      [searchKey]="searchKey"
      [questions]="questions"
    ></kkl-advanced-search-layout>
  </div>

  <section fxLayout="row" fxLayoutAlign="end center">
    <kkl-add-button (clickEvent)="onCreateNewCommittee()"
      >הוסף לקוח חדש</kkl-add-button
    >
  </section>

  <!-- KKL-TABLE-NEW -->
  <kkl-local-table
    [columns]="columns"
    [rowActions]="rowActions"
    [dataSource]="[{email: 'jdhhdhd@gdhhd'}]"
    [newRowAction]="'הוסף שורה'"
  ></kkl-local-table>
</div>
