<mat-toolbar class="navbar">
  <!-- toggle menu button -->
  <div
    class="sidebar-toggle"
    [ngClass]="{ closed: isOpen }"
    (click)="toggleMenu()"
  >
    <div class="sidebar-toggle__icon">
      <!-- <app-icon type="svg" key="tree" color="primary"></app-icon> -->
      <div class="icon-container">
        <app-icon
          color="primary"
          type="svg"
          key="tree"
          color="primary"
        ></app-icon>
      </div>
    </div>
    <div class="sidebar-toggle__text">
      {{ isOpen ? " תפריט" : " סגור תפריט" }}
    </div>
  </div>

  <div>
    <!-- <app-typography [variant]="'mat-display-1'">
      {{ title }}
    </app-typography> -->
  </div>

  <!-- main navbar links -->
  <div class="project-status" *ngIf="showSteps">
    <div class="project-status__item" *ngFor="let item of status">
      <div
        class="project-status__item-badge"
        matBadgeOverlap
        matBadge="{{ item.count }}"
      ></div>

      <div class="project-status__item-icon">
        <div class="icon-container">
          <app-icon
            [color]="'default'"
            type="svg"
            [key]="item.svgUrl"
          ></app-icon>
        </div>
      </div>
      <span class="project-status__item-text">{{ item.text }}</span>
    </div>
  </div>

  <div class="results-header" *ngIf="!showSteps">
    <a class="results-header__link" routerLink="forestry/search"
      ><span class="results-header__text">חזור לחיפוש</span>
      <mat-icon class="results-header__icon" matPrefix>search</mat-icon>
    </a>
  </div>

  <!-- left side logo -->
  <a routerLink="/" class="left-logos">
    <!-- <svg-icon
      class="left-logo-years"
      src="assets/images/left-logo-years-new.svg"
    >
    </svg-icon>
    <svg-icon src="assets/images/left-logo.svg"></svg-icon> -->
  </a>
</mat-toolbar>
